<h1><p style="text-align: center;">Data Analysis with Python <br>Project - 1</p><h1> - Traffic Police Stops <img src="https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki" class="img-fluid" width="200" height="100">

Does the ``gender`` of a driver have an impact on police behavior during a traffic stop? **In this chapter**, you will explore that question while practicing filtering, grouping, method chaining, Boolean math, string methods, and more!

***

## Examining traffic violations

Before comparing the violations being committed by each gender, you should examine the ``violations`` committed by all drivers to get a baseline understanding of the data.

In this exercise, you'll count the unique values in the ``violation`` column, and then separately express those counts as proportions.

> Before starting your work in this section **repeat the steps which you did in the previos chapter for preparing the data.** Continue to this chapter based on where you were in the end of the previous chapter.

In [1]:
import pandas as pd

In [2]:
ri = pd.read_csv('work_area.csv', low_memory = False, index_col = 0)

In [3]:
ri.head()

,id,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,2005-01-02,01:55,Zone K1,600,M,1985.0,20.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,2005-01-02,20:30,Zone X4,500,M,1987.0,18.0,W,White,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2005-01-04 12:55:00,RI-2005-00004,2005-01-04,12:55,Zone X4,500,M,1986.0,19.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-06 01:30:00,RI-2005-00005,2005-01-06,01:30,Zone X4,500,M,1978.0,27.0,B,Black,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-12 08:05:00,RI-2005-00006,2005-01-12,08:05,Zone X1,000,M,1973.0,32.0,B,Black,...,False,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1

**INSTRUCTIONS**

*   Count the unique values in the ``violation`` column, to see what violations are being committed by all drivers.
*   Express the violation counts as proportions of the total.

In [4]:
ri.columns

Index(['id', 'stop_date', 'stop_time', 'location_raw', 'police_department',
       'driver_gender', 'driver_age_raw', 'driver_age', 'driver_race_raw',
       'driver_race', 'violation_raw', 'violation', 'search_conducted',
       'search_type_raw', 'search_type', 'contraband_found', 'stop_outcome',
       'is_arrested', 'stop_duration', 'out_of_state', 'drugs_related_stop',
       'district'],
      dtype='object')

In [5]:
ri.info()

<class 'pandas.core.frame.DataFrame'>
Index: 480584 entries, 2005-01-02 01:55:00 to 2015-12-31 23:48:00
Data columns (total 22 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  480584 non-null  object
 1   stop_date           480584 non-null  object
 2   stop_time           480584 non-null  object
 3   location_raw        480584 non-null  object
 4   police_department   480584 non-null  object
 5   driver_gender       480584 non-null  object
 6   driver_age_raw      480583 non-null  float64
 7   driver_age          478946 non-null  float64
 8   driver_race_raw     480584 non-null  object
 9   driver_race         480584 non-null  object
 10  violation_raw       480584 non-null  object
 11  violation           480584 non-null  object
 12  search_conducted    480584 non-null  bool
 13  search_type_raw     17762 non-null   object
 14  search_type         17762 non-null   object
 15  contraband_found    480584 non-null  bool
 16  stop_outcome        480584 non-null  object
 17  is_arrested         480584 non-null  bool
 18  stop_duration       480584 non-null  object
 19  out_of_state        479776 non-null  object
 20  drugs_related_stop  480584 non-null  bool
 21  district            480584 non-null  object
dtypes: bool(4), float64(2), object(16)
memory usage: 71.5+ MB

In [6]:
ri[['violation']].nunique()

violation    6
dtype: int64

In [7]:
ri[['violation']].value_counts().sum()

480584

In [8]:
ri[['violation']].value_counts()

violation
Speeding               268736
Moving violation        90228
Equipment               61250
Other                   24216
Registration/plates     19830
Seat belt               16324
dtype: int64

In [9]:
ri[['violation']].value_counts() / ri[['violation']].value_counts().sum()
# ri['violation'].value_counts(normalize = True)

violation
Speeding               0.559186
Moving violation       0.187747
Equipment              0.127449
Other                  0.050389
Registration/plates    0.041262
Seat belt              0.033967
dtype: float64

In [10]:
ri['violation'].value_counts(normalize = True)

Speeding               0.559186
Moving violation       0.187747
Equipment              0.127449
Other                  0.050389
Registration/plates    0.041262
Seat belt              0.033967
Name: violation, dtype: float64

***

## Comparing violations by gender

The question we're trying to answer is whether male and female drivers tend to commit different types of traffic violations.

You'll first create a ``DataFrame`` for each gender, and then analyze the ``violations`` in each ``DataFrame`` separately.

**INSTRUCTIONS**

*   Create a ``DataFrame``, female, that only contains rows in which ``driver_gender`` is ``'F'``.
*   Create a ``DataFrame``, male, that only contains rows in which ``driver_gender`` is ``'M'``.
*   Count the ``violations`` committed by female drivers and express them as proportions.
*   Count the violations committed by male drivers and express them as proportions.

In [11]:
ri_female = ri[ri['driver_gender'] == 'F']

In [12]:
ri_male = ri[ri['driver_gender'] == 'M']

In [13]:
ri_female[['violation']].value_counts()

violation
Speeding               86198
Moving violation       17911
Equipment              14039
Registration/plates     5649
Other                   3791
Seat belt               3550
dtype: int64

In [14]:
ri_female[['violation']].value_counts().sum()

131138

In [15]:
# ri_female[['violation']].value_counts() / ri_female[['violation']].value_counts().sum()
ri_female[['violation']].value_counts(normalize = True)

violation
Speeding               0.657308
Moving violation       0.136581
Equipment              0.107055
Registration/plates    0.043077
Other                  0.028908
Seat belt              0.027071
dtype: float64

In [16]:
ri_male[['violation']].value_counts()

violation
Speeding               182538
Moving violation        72317
Equipment               47211
Other                   20425
Registration/plates     14181
Seat belt               12774
dtype: int64

In [17]:
ri_male[['violation']].value_counts().sum()

349446

In [18]:
# ri_male[['violation']].value_counts() / ri_male[['violation']].value_counts().sum()
ri_male[['violation']].value_counts(normalize = True)

violation
Speeding               0.522364
Moving violation       0.206948
Equipment              0.135102
Other                  0.058450
Registration/plates    0.040581
Seat belt              0.036555
dtype: float64

***

## Comparing speeding outcomes by gender

When a driver is pulled over for speeding, many people believe that gender has an impact on whether the driver will receive a ticket or a warning. Can you find evidence of this in the dataset?

First, you'll create two ``DataFrames`` of drivers who were stopped for ``speeding``: one containing ***females*** and the other containing ***males***.

Then, for each **gender**, you'll use the ``stop_outcome`` column to calculate what percentage of stops resulted in a ``"Citation"`` (meaning a ticket) versus a ``"Warning"``.

**INSTRUCTIONS**

*   Create a ``DataFrame``, ``female_and_speeding``, that only includes female drivers who were stopped for speeding.
*   Create a ``DataFrame``, ``male_and_speeding``, that only includes male drivers who were stopped for speeding.
*   Count the **stop outcomes** for the female drivers and express them as proportions.
*   Count the **stop outcomes** for the male drivers and express them as proportions.

In [19]:
female_and_speeding = ri_female[ri_female['violation'] == 'Speeding']

In [20]:
male_and_speeding = ri_male[ri_male['violation'] == 'Speeding']

In [21]:
female_and_speeding[['stop_outcome']].value_counts()

stop_outcome
Citation            82168
Warning              3362
Arrest Driver         456
Arrest Passenger       89
N/D                    78
No Action              45
dtype: int64

In [22]:
female_and_speeding[['stop_outcome']].value_counts().sum()

86198

In [23]:
# female_and_speeding[['stop_outcome']].value_counts() / female_and_speeding[['stop_outcome']].value_counts().sum()
female_and_speeding[['stop_outcome']].value_counts(normalize = True)

stop_outcome
Citation            0.953247
Warning             0.039003
Arrest Driver       0.005290
Arrest Passenger    0.001033
N/D                 0.000905
No Action           0.000522
dtype: float64

In [24]:
f = female_and_speeding[['stop_outcome']].value_counts() / female_and_speeding[['stop_outcome']].value_counts().sum()

In [25]:
male_and_speeding[['stop_outcome']].value_counts()

stop_outcome
Citation            172432
Warning               6587
Arrest Driver         2878
Arrest Passenger       231
N/D                    216
No Action              194
dtype: int64

In [26]:
male_and_speeding[['stop_outcome']].value_counts().sum()

182538

In [27]:
male_and_speeding[['stop_outcome']].value_counts() / male_and_speeding[['stop_outcome']].value_counts().sum()

stop_outcome
Citation            0.944636
Warning             0.036086
Arrest Driver       0.015767
Arrest Passenger    0.001265
N/D                 0.001183
No Action           0.001063
dtype: float64

In [28]:
m = male_and_speeding[['stop_outcome']].value_counts() / male_and_speeding[['stop_outcome']].value_counts().sum()

In [29]:
f['Citation']

stop_outcome
Citation        0.953247
dtype: float64

In [30]:
f['Warning']

stop_outcome
Warning         0.039003
dtype: float64

In [31]:
m['Citation']

stop_outcome
Citation        0.944636
dtype: float64

In [32]:
m['Warning']

stop_outcome
Warning         0.036086
dtype: float64

***

## Calculating the search rate

During a traffic stop, the police officer sometimes conducts a search of the vehicle. In this exercise, you'll calculate the percentage of all stops that result in a vehicle search, also known as the **search rate**.

**INSTRUCTIONS**

*   Check the data type of ``search_conducted`` to confirm that it's a ``Boolean Series``.
*   Calculate the search rate by counting the ``Series`` values and expressing them as proportions.
*   Calculate the search rate by taking the mean of the ``Series``. (It should match the proportion of ``True`` values calculated above.)

In [33]:
ri['search_conducted'].dtype

dtype('bool')

In [34]:
ri['search_conducted'].value_counts()

False    462822
True      17762
Name: search_conducted, dtype: int64

In [35]:
ri['search_conducted'].value_counts() / ri['search_conducted'].value_counts().sum()

False    0.963041
True     0.036959
Name: search_conducted, dtype: float64

In [36]:
ri['search_conducted'].mean()

0.036959199640437465

***

## Comparing search rates by gender

You'll compare the rates at which **female** and **male** drivers are searched during a traffic stop. Remember that the vehicle search rate across all stops is about **3.8%**.

First, you'll filter the ``DataFrame`` by gender and calculate the search rate for each group separately. Then, you'll perform the same calculation for both genders at once using a ``.groupby()``.

**INSTRUCTIONS 1/3**

*   Filter the ``DataFrame`` to only include **female** drivers, and then calculate the search rate by taking the mean of ``search_conducted``.

In [37]:
ri[ri['driver_gender'] == 'F']['search_conducted'].mean()

0.018751239152648355

**INSTRUCTIONS 2/3**

*   Filter the ``DataFrame`` to only include **male** drivers, and then repeat the search rate calculation.

In [38]:
ri[ri['driver_gender'] == 'M']['search_conducted'].mean()

0.04379217389811301

**INSTRUCTIONS 3/3**

*   Group by driver gender to calculate the search rate for both groups simultaneously. (It should match the previous results.)

In [39]:
ri.groupby(['driver_gender']).mean()['search_conducted']

driver_gender
F    0.018751
M    0.043792
Name: search_conducted, dtype: float64

***

## Adding a second factor to the analysis

Even though the search rate for males is much higher than for females, it's possible that the difference is mostly due to a second factor.

For example, you might hypothesize that the search rate varies by violation type, and the difference in search rate between males and females is because they tend to commit different violations.

You can test this hypothesis by examining the search rate for each combination of gender and violation. If the hypothesis was true, you would find that males and females are searched at about the same rate for each violation. Find out below if that's the case!

**INSTRUCTIONS 1/2**

*   Use a ``.groupby()`` to calculate the search rate for each combination of gender and violation. Are males and females searched at about the same rate for each violation?

In [40]:
ri.groupby(['driver_gender', 'violation']).mean()[['search_conducted']]

                                   search_conducted
driver_gender violation
F             Equipment                    0.040245
              Moving violation             0.038021
              Other                        0.045898
              Registration/plates          0.054700
              Seat belt                    0.017746
              Speeding                     0.007738
M             Equipment                    0.070916
              Moving violation             0.059156
              Other                        0.046120
              Registration/plates          0.103589
              Seat belt                    0.031705
              Speeding                     0.026630

**INSTRUCTIONS 2/2**

*   Reverse the ordering to group by violation before gender. The results may be easier to compare when presented this way.

In [41]:
ri.groupby(['violation', 'driver_gender']).mean('search_conducted')[['search_conducted']]

                                   search_conducted
violation           driver_gender
Equipment           F                      0.040245
                    M                      0.070916
Moving violation    F                      0.038021
                    M                      0.059156
Other               F                      0.045898
                    M                      0.046120
Registration/plates F                      0.054700
                    M                      0.103589
Seat belt           F                      0.017746
                    M                      0.031705
Speeding            F                      0.007738
                    M                      0.026630

***

## Counting protective frisks

During a vehicle search, the police officer may pat down the driver to check if they have a weapon. This is known as a ``"protective frisk."``

You'll first check to see how many times "Protective Frisk" was the only search type. Then, you'll use a string method to locate all instances in which the driver was frisked.

**INSTRUCTIONS**

*   Count the ``search_type`` values to see how many times ``"Protective Frisk"`` was the only search type.
*   Create a new column, frisk, that is ``True`` if ``search_type`` contains the string ``"Protective Frisk"`` and ``False`` otherwise.
*   Check the data type of frisk to confirm that it's a ``Boolean Series``.
*   Take the sum of frisk to count the total number of frisks.

In [42]:
ri['search_type'].str.contains('Protective Frisk').value_counts()

False    16164
True      1598
Name: search_type, dtype: int64

In [43]:
ri['frisk'] = ri['search_type'].str.contains('Protective Frisk', na = False)

In [44]:
ri['frisk']

stop_datetime
2005-01-02 01:55:00    False
2005-01-02 20:30:00    False
2005-01-04 12:55:00    False
2005-01-06 01:30:00    False
2005-01-12 08:05:00    False
                       ...
2015-12-31 22:46:00    False
2015-12-31 22:47:00    False
2015-12-31 23:08:00    False
2015-12-31 23:44:00    False
2015-12-31 23:48:00    False
Name: frisk, Length: 480584, dtype: bool

In [45]:
ri['frisk'].dtype

dtype('bool')

In [46]:
ri['frisk'].sum()

1598

***

## Comparing frisk rates by gender

You'll compare the rates at which female and male drivers are frisked during a search. Are males frisked more often than females, perhaps because police officers consider them to be higher risk?

Before doing any calculations, it's important to filter the ``DataFrame`` to only include the relevant subset of data, namely stops in which a search was conducted.

**INSTRUCTIONS**

*   Create a ``DataFrame``, searched, that only contains rows in which ``search_conducted`` is ``True``.
*   Take the mean of the frisk column to find out what percentage of searches included a frisk.
*   Calculate the frisk rate for each gender using a ``.groupby()``.

In [47]:
ri_search = ri[ri['search_conducted'] == True]

In [48]:
ri_search['frisk'].mean()

0.08996734601959239

In [49]:
ri_search.groupby(['driver_gender']).mean()[['frisk']]

                  frisk
driver_gender
F              0.066694
M              0.093707